altair
argon2-cffi
argon2-cffi-bindings
asgiref
astor
atomicwrites
attrs
Babel
backcall
backports.zoneinfo
base58
beautifulsoup4
bleach
blinker
bs4
cachetools
certifi
cffi
chardet
click
colorama
cryptography
cycler
debugpy
decorator
defusedxml
distlib
Django
django-allauth
django-cors-headers
django-crispy-forms
django-widget-tweaks
djangorestframework
entrypoints
filelock
Flask
Flask-Babel
Flask-Cors
Flask-Table
fonttools
gitdb
GitPython
idna
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pipenv
platformdirs
pluggy
prometheus-client
prompt-toolkit
protobuf
py
pyarrow
pycparser
pydeck
Pygments
PyJWT
Pympler
pyparsing
pyrsistent
python-dateutil
python3-openid
pytz
pytz-deprecation-shim
# pywin32==302
pywinpty==2.0.5
pyzmq
regex
requests
requests-oauthlib
scikit-learn
scipy
Send2Trash
six
# sklearn==0.20
smmap
soupsieve
sqlparse
streamlit
terminado
testpath
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
virtualenv
virtualenv-clone
waitress
watchdog
wcwidth
webencodings
Werkzeug
whitenoise
widgetsnbextension
zipp
